name: CI
on: [push, pull_request]

env:
  # Set the Matplotlib backend to 'agg' to avoid issues with rendering plots
  # in headless environments during testing.
  MPLBACKEND: agg
  
jobs:
  format-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up poetry
        uses: ./.github/actions/install-with-poetry
        with:
          with-cuda: false
          poetry-options: "--only=dev"
      - run: poetry run isort . --check
      - run: poetry run ruff check

  conda-pytest:
    name: "conda pytest: (${{ matrix.python-version }}, ${{ matrix.os }})"
    runs-on: ${{ matrix.os }}
    needs: [ format-checks ]
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - name: Checkout latest commit
        uses: actions/checkout@v4
      - name: Install with conda
        uses: ./.github/actions/install-with-conda
        with:
          python-version: ${{ matrix.python-version }}
          macos: ${{ matrix.os == 'macos-latest' }}
      - name: Run docstring example tests
        run: pytest --doctest-modules --ignore=etspy/tests etspy/ 
      - name: Run full test suite
        id: full_conda_tests
        if: always()
        run: pytest etspy/tests/

  poetry-pytest:
    name: "poetry pytest: (${{ matrix.python-version }}, ${{ matrix.os }})"
    runs-on: ${{ matrix.os }}
    needs: [ format-checks ]
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - name: Checkout latest commit
        uses: actions/checkout@v4
      - name: Install with poetry
        uses: ./.github/actions/install-with-poetry
        with:
          python-version: ${{ matrix.python-version }}
          with-cuda: true
          poetry-options: "--with=dev --without=gpu"
      - name: Run docstring example tests
        run: poetry run pytest --doctest-modules --ignore=etspy/tests etspy/ 
      - name: Run full test suite
        id: full_poetry_tests
        if: always()
        run: poetry run pytest etspy/tests/
