name: CI
on: push
jobs:
  format-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pip install flake8
      - run: pip install pydocstyle
      - run: flake8 --exclude=api.py tomotools/
      - if: always()
        run: pydocstyle tomotools/

  pytest:
    runs-on: ubuntu-latest
    container:
      image: aaherzing/tomotools:latest
    steps:
    - uses: actions/checkout@v2
    - run: pip install .
    - run: pytest --doctest-modules tomotools/ 
    - if: always()
      run: pytest tomotools/tests/
