name: CI
on: push
jobs:
  format-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pip install flake8
      - run: pip install pydocstyle
      - run: flake8 --exclude=api.py --ignore=E501 etspy/
      - if: always()
        run: pydocstyle etspy/

  pytest:
    runs-on: ubuntu-latest
    container:
      image: aaherzing/etspy:latest
    steps:
    - uses: actions/checkout@v4
    - run: pip install -e ./
    - run: pytest --doctest-modules --ignore=etspy/tests/test_datasets.py etspy/ 
    - if: always()
      run: pytest --ignore=etspy/tests/test_datasets.py etspy/tests/
