# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a set of commands using the runners shell
    - name: Set up miniconda
      run: |
        wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
        chmod +x miniconda.sh
        ./miniconda.sh -b
        conda update --yes conda

    - name: Create conda environment
      run: |
        conda update -n base -c defaults conda
        conda create --yes -n test -c conda-forge opencv
        source ~/miniconda3/etc/profile.d/conda.sh
        conda activate /usr/share/miniconda/envs/test
        conda install -c astra-toolbox/label/dev astra-toolbox
        conda install -c conda-forge hyperspy tomopy flake8 pytest pydocstyle
        pip install .
    
    - name: flake8_checksRun tests
      run: |
        source ~/miniconda3/etc/profile.d/conda.sh
        conda activate /usr/share/miniconda/envs/test
        flake8 --exclude=api.py --ignore=E741 tomotools/

    - name: pytests
      run: |
        source ~/miniconda3/etc/profile.d/conda.sh
        conda activate /usr/share/miniconda/envs/test
        python setup.py install
        pytest --doctest-modules tomotools/
        
    - name: pydocstyle_checks
      run: |
        source ~/miniconda3/etc/profile.d/conda.sh
        conda activate /usr/share/miniconda/envs/test
        pydocstyle tomotools/
